Checksum Support (MD5,CRC32,SHA1,etc.)

Just a vague idea I'm throwing out here:

Should there be some mechanism for verifying the upload contents somewhere in the process? e.g supplying a md5 hash of the file when responding to a `HEAD` request?
Or is this outside the scope of the protocol and something that should left as option for implementations to handle if they want to?

After thinking a bit more about this the extensions should address following points:

* Allow only one algorithm. This reduces flexibility but also complexity and ensures that clients and server understand the checksum. MD5 or SHA1 are good in this case since they are very popular
* This extension is not about security (use HTTPS for that) but about data integrity. Although you mustn't use MD5 for hashing passwords it's good enough for our case.
* Checksums are sent by the client and verified by the server. If the checksums don't match the file won't be updated and an error will be returned.
* The checksum may be sent in an header (`TUS-Checksum` or `TUS-MD5-Checksum`) but also as a trailer. This is especially handy when dealing with streaming uploads where the chunk is not known in advance.

The only thing missing right now is the appropriated status code. `409 Conflict` would be a good match but will be used for illegal offsets (see #51).

> The only thing missing right now is the appropriated status code. 409 Conflict would be a good match but will be used for illegal offsets (see #51).

I don't think there's anything wrong with using the same status code. Client's should handle all 4xx in a similar manner, probably just displaying a different error. As far as I know, there's nothing wrong in returning different status strings, is there? I mean `409 Illegal Offset` and `409 Wrong Checksum`. 

@qsorix Although it is totally possible to send custom status texts I'm not sure if that's allowed by the HTTP spec. Anyway I would declare this bad behaviour sending a status text other than the official one.
But the point I'm most concerned about is that most or some implementations for HTTP clients and server don't support reading/writing custom status texts. So -1 by me for this approach.

The best and not used status code may be `406 Not Acceptable`, although this is meant for errors in conjunction with the `Accept` header (maybe `TUS-Checksum` is one of them?).

> The best and not used status code may be 406 Not Acceptable, although this is meant for errors in conjunction with the Accept header (maybe TUS-Checksum is one of them?).

What's the problem with sending `409` back in both cases? I think it is better than picking some other free number with its established meaning further away from what we want. Essentially, the 4xx codes all indicate the same type of problem. Client's fault: "If you're going to retry, better change something in what you did the first time". If there isn't a code that matches our needs, we can just send back 400. We can also consider using some currently-unused number, if we really want to have a different code for a different error.

> Although it is totally possible to send custom status texts I'm not sure if that's allowed by the HTTP spec
I've google a little and found http://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1.1 which says "The reason phrases listed here are only recommendations -- they MAY be replaced by local equivalents without affecting the protocol." and "The Status-Code is intended for use by automata and the Reason-Phrase is intended for the human user. The client is not required to examine or display the Reason- Phrase." So the status text is just a debug.

Question then is, do we want clients to be able to react differently to the two types of errors.

"HTTP status codes are extensible. HTTP applications are not required to understand the meaning of all registered status codes, though such understanding is obviously desirable. However, applications MUST understand the class of any status code, as indicated by the first digit, and treat any unrecognized response as being equivalent to the x00 status code of that class"

To me this means: we're free to pick our own codes if we want to. It will be within the intended use. We can specify them so TUS clients can react different on different errors. Or they can display a generic error message, deciding they just got something from 4xx. Of course, if there is already a code that matches our need, we should obviously reuse it. In this case, it feels like there isn't.


First of all, I want to thank you for this research, it's really appreciated. :+1:

> If there isn't a code that matches our needs, we can just send back 400.

Yes, but it's too generic. It's like, "oh, you got one out of tens of things wrong but I won't tell you which" :).

> "The reason phrases listed here are only recommendations -- they MAY be replaced by local equivalents without affecting the protocol."

That's great news but as I said support for this is too weak as far as I know.

> Of course, if there is already a code that matches our need, we should obviously reuse it. In this case, it feels like there isn't.

+1, I will have a look at which 4xx code is used rarely (you can't find one which never been used) and then come back.

@Acconut , once you find the numbers...

> That's great news but as I said support for this is too weak as far as I know.

I think the proper way to use the text will be to specify the number we return in case of an error, and encourage implementations to (if possible) add the text that explains what TUS means by returning this error. As an example: implementation MUST use 409 to indicate a mismatched offset, implementation SHOULD return `409 Illegal Offset`. And it is fine if it returns `409 Conflict`.

Having a known numbers lets clients automate recovery, e.g. offer an option to automatically retry an upload on a failed checksum. Reason phrases will only serve to ensure developers that they're doing the right thing, and help them memorize which code means what.

@qsorix 

> Having a known numbers lets clients automate recovery, e.g. offer an option to automatically retry an upload on a failed checksum.

That's the point for reusing 409. As suggested in the [retry extension](https://github.com/tus/tus-resumable-upload-protocol/blob/d297be73748461586dfe28ee2bde5d238498486a/protocol.md#retries) a client MAY retry on 4xx.

After some quick research, I could think of using `460 Checksum Mismatch` as our custom status code. It's not used by some "official" HTTP specification and I wasn't able to find popular software which uses this code. I'm only concerned that proxies may have problems with custom status codes but I will investigate.


@qsorix 

Citing the current [HTTP/2 draft](http://http2.github.io/http2-spec/#HttpResponse):
> HTTP/2 does not define a way to carry the version or reason phrase that is included in an HTTP/1.1 status line.

Since HTTP/2 is the future I would vote against a custom reason phrase and instead rely on a custom status code.

@Acconut good catch!

@qsorix What's your opinion about "forcing" one algorithm vs. letting the client decide?

@Acconut , I think the rationale you gave for sticking to md5 is good. In the sense that we try to protect against Murphy, not Machiavelli. I'm fine with md5 and you can stop reading here.

If all we care about is byte integrity, CRC32 uses less CPU. But who cares? I can't tell from experience, but I guess that you would require a really massive network link to notice a difference of CPU usage when switching between two different checksum algorithms.

All major languages offer libraries or come with built-in functions to calculate CRC, md5, sha1, sha256 and more.

So if in practice there's no CPU cost, why not pick a checksum that is not yet known to be vulnerable to collision attacks, like sha-2 or sha-3?

Embedded devices? If we care about those, better pick CRC or md5. Less bytes of memory needed for the algorithm's code.

So...

Because I think people really serious about security will have their own opinion and won't be afraid to break the rules of the protocol or extend it somehow for their needs, or just use HTTPS, I don't consider that as an issue. Picking between CRC and MD5, I just have a gut feeling that md5 maybe more widely supported by standard libraries of various languages.

So yeah, I think md5 is just fine.

Great! :)

Here's what I came up with: https://gist.github.com/Acconut/bbe3838bb04d90845ba8#file-checksum-md
I used the `Content-MD5` header instead of a custom `TUS-MD5-Checksum` because it serves the exact purpose. 

One problem we may run into with using trailers:
Imagine a server reports to support the checksum header but only in the header and not trailers.
Then the client sends the checksum as a trailer while the server thinks there is no checksum at all and doesn't verify.

Any opinion on this?

@qsorix Thanks for your feedback. Sadly Github doesn't notify you when your gists are commented so I just saw it at the moment. In the future I would be pleased to see your feedback in the according issues. Anyway I updated the draft following your recommendations and a discussion we had internally. It now mentions the `TUS-Extension` header and includes a short description what trailer are (see https://gist.github.com/Acconut/bbe3838bb04d90845ba8/7015fc63073b86e7f5f356a824c490cf7050765a).

@Acconut, Thanks for a tip. I didn't know about notifications and gists.

Comments to the latest revision. Text mentions `Content-MD5` but in the example there is `TUS-MD5-Checksum`.

I don't think we can use `Content-MD5`. Isn't it supposed to be a checksum of the message's body (i.e. checksum of the uploaded range, not of the whole file)? Introduction to https://www.ietf.org/rfc/rfc3230.txt confirms my worries... That RFC also, imho, solves the problem. Maybe just use that? Frankly, I haven't read it carefully nor completely, but it looks like we should read it :)

> One problem we may run into with using trailers:
> Imagine a server reports to support the checksum header but only in the header and not trailers.
Then the client sends the checksum as a trailer while the server thinks there is no checksum at all and doesn't verify.

Yup, good point. I agree it makes sense for the support to be explicitly announced.

You've proposed that `checksum-trailer` "subextension". That's OK. I'm also thinking about announcing instead that a server supports chunked transfers. This way it would be orthogonal to the headers provided in the trailer. I'm assuming that a support for chunked transfers implies support for the trailers.

Yeah, actually chunked transfer needs not be announced. If the server doesn't accept it, it will simply reject it. We can just say that if a server supports chunked transfers, it MUST support trailers. What do you think?

> Text mentions `Content-MD5` but in the example there is `TUS-MD5-Checksum`.

Thanks, that was a mistake.

> Isn't it supposed to be a checksum of the message's body (i.e. checksum of the uploaded range, not of the whole file)

I meant to use `Content-MD5` according to the HTTP spec. It's the hash of the chunk which is uploaded in the current request not the entire file! Latter usage would be counterproductive since the server first needs the entire file in order to calculate and validate the checksum (this was discussed in this issue already).

>  I'm also thinking about announcing instead that a server supports chunked transfers. This way it would be orthogonal to the headers provided in the trailer.

I disagree. Firstly nearly all HTTP clients and servers support chunked encoding since it's enforced by HTTP 1.1 (see RFC 2616 section 3.6.1):

> All HTTP/1.1 applications MUST be able to receive and decode the "chunked" transfer-coding, and MUST ignore chunk-extension extensions they do not understand.

And secondly it's out of tus' scope to deal with detecting chunked transfer coding since the HTTP spec already deals with that. In addition if you send a chunked HTTP 1.1 request to a HTTP 1.0 compatible server it must respond with `505 HTTP Version Not Supported`. So there's no need for us to take care about this.

> I'm assuming that a support for chunked transfers implies support for the trailers.

I would not say that. A HTTP server framework may support chunked transfers but not trailers (e.g. I'm not sure if PHP supports trailing headers but I may be wrong). Another example would be proxies which (accidentally) remove trailers.

> I meant to use Content-MD5 according to the HTTP spec. It's the hash of the chunk which is uploaded in the current request not the entire file!

Ah, OK. In that case, I agree with the way this header is used.

> Latter usage would be counterproductive since the server first needs the entire file in order to calculate and validate the checksum (this was discussed in this issue already).

Why counterproductive? The checksum of the entire file is exactly what I personally need in my application. I want some means of verifying that after all resumes that happened, I got the content right.

Server will receive the entire file anyway, so what's the problem with needing the entire file? Server doesn't need to keep the whole content all the time. MD5 can be calculated over a stream. Server just needs to keep MD5's calculation state in the meantime.

> Why counterproductive? The checksum of the entire file is exactly what I personally need in my application. I want some means of verifying that after all resumes that happened, I got the content right.

I will try to explain it using following example:

1. New file with length of 300 bytes is created.
2. First 100 bytes are uploaded with the checksum of the entire file
3. Second 100 bytes are uploaded but because of a networking error (or something else) one bytes changes. This error is not detected because the checksum is not verified yet.
4. Last 100 bytes are successfully uploaded but the checksum validation failed because of the accident in step 3.

Now the client is not able to re-upload the second 100 bytes (see #51) and the only solution is to abort the current upload and start a new one from scratch. And now imagine uploading 10GB again because of one bytes.

> Server just needs to keep MD5's calculation state in the meantime.

In a lot of languages/frameworks storing the state is not easily achievable since you have to store it persistently. A upload may be resumed after days leading to a memory leak when you save the state in memory.

> I will try to explain it using following example (...) Now the client is not able to re-upload the second 100 bytes (see #51) and the only solution is to abort the current upload and start a new one from scratch.

Nice example, thanks for the explanation. I totally agree. I was not clear in my last comments so let me clarify. I am not against using a checksum for each single message. However, *in addition* to that, I need a checksum of the entire file. I got confused before because I thought you're looking for a name for the latter checksum and it wasn't the case.

`Content-MD5` will be the checksum for the content of a single message. We need a name for the checksum of a complete file.

However, now that I understand your intentions better, there's one thing I didn't get. If a client attempts to send the entire file with a single PATCH request, that patch request will include `Content-MD5` (that will accidentally happen to be the checksum of the entire file as well, but that's irrelevant now). When this upload is interrupted, server is unable to verify that `Content-MD5`. So server now should drop the data it received, right? It cannot keep them and let the client continue, because the data can be malformed. This would mean that using `Content-MD5` forces you to upload in parts or you won't be able to resume. Am I confused again?

> In a lot of languages/frameworks storing the state is not easily achievable since you have to store it persistently. A upload may be resumed after days leading to a memory leak when you save the state in memory.

Well... There's already a lot of data you need to store persistently anyway to handle the upload. Like URLs, offsets, expected size, optionally metadata, etc. So storing a few more values is not a game-changer.

> However, in addition to that, I need a checksum of the entire file.

If you provide a checksum for every chunks you upload why do you need an additional one for the total file?

> This would mean that using Content-MD5 forces you to upload in parts or you won't be able to resume. Am I confused again?

Everything you said in that paragraph is correct. Checksums slows the upload procession down by their design. I personally prefer to split a file into multiple chunks allowing me to upload them in parallel and re-uploading a single one. The spec advises to act different but it was written before the principle of checksums and parallel uploads were introduced to tus. We may change this sentence in 1.0.

> Well... There's already a lot of data you need to store persistently anyway to handle the upload. Like URLs, offsets, expected size, optionally metadata, etc. So storing a few more values is not a game-changer.

Yes, it's not about the ability to store but about obtaining the underlining data (in case of MD5 the four buffers). As far as I can tell from my experience you are not able to store a MD5 (or any other hashing function) and resume it later in Golang and Node.js (speaking about the standard library, packages be third parties may introduce this functionality but we should not rely on that):



> > However, in addition to that, I need a checksum of the entire file.

> If you provide a checksum for every chunks you upload why do you need an additional one for the total file?

To catch bugs. In my environment there are many teams implementing clients. Lesson learned is that on the server-side, you should never assume that the client works, because given so many chances, someone eventually implements something wrong. Having an extra checksum to verify that the combined chunks are really what they intended to be is valuable. It's actually quite easy to make an "off by 1" mistake when calculating offsets, etc.

Yes, you can argue that individual checksum for each piece, accompanied with offsets of all pieces, is enough to ensure the transferred data were not corrupted. Agreed. However, having a *single* number is simpler and more practical in a day-to-day life at an office, where it is good to be able to quickly spot and isolate problems.

I could start coming up with crazy scenarios, e.g. disk corruption, that would also require complete checksums, but in my case, it is much more likely I'll have a problem due to software bugs.

> I personally prefer to split a file into multiple chunks allowing me to upload them in parallel and re-uploading a single one. The spec advises to act different but it was written before the principle of checksums and parallel uploads were introduced to tus. We may change this sentence in 1.0.

OK. I cannot stop you here ;-). TUS, IMHO, needs to be focused on big bandwidths and huge files, because that's the Internet today. And in such environment chunked and/or parallel uploads make sense and come with small cost.

My deployment consists of embedded devices with limited flash memory and slow network connections. Small files. I'm interested in TUS because it allows resumable uploads in the simplest way I could imagine. This means not many kilobytes are needed to save the algorithm on a device. Things like parallel uploads are of no interest to me because I cannot afford them anyway. My comments are biased towards keeping TUS simple, because otherwise it may turn out, that in the end, this is not the protocol I want to use. ;)

The case you explained to me makes sense for your project. So feel free to extend tus with specific extensions and corner-cases to match your application. I try to make the protocol flexible and powerful while not being too specific and restrictive what it a hard catch.

Anyway before I position myself on one side about a single checksum for the entire file I have a few questions:

* When should the checksum be transferred? In the initial file creation request?
* May the checksum be changed in the future?
* And mostly what happens when the validation failed? Must the entire file be re-uploaded or is it just a warning to the client and the file will be processed anyway?

> OK. I cannot stop you here ;-)

While, in fact, you can't stop me I honour every contributors' opinion. It's not about building the protocol which suites my needs best but it's about making something which works for nearly everyone :)

I'll answer the questions how I see fit for my case but I understand that "it depends" is often the right answer ;)

> When should the checksum be transferred? In the initial file creation request?

File creation request was my first idea (https://github.com/tus/tus-resumable-upload-protocol/issues/7#issuecomment-47095000), because it keeps all metadata together and therefore seems right. Later I got convinced that it doesn't matter that much in my case, while having it on the PATCH makes streamed uploads easier.

> May the checksum be changed in the future?

If it is a checksum for the entire file, it mustn't change.

> And mostly what happens when the validation failed? Must the entire file be re-uploaded or is it just a warning to the client and the file will be processed anyway?

In my case, I don't want to process a corrupted file. It needs to be re-uploaded.

Hmm... I am very unsure about this.
I think the best way to go is not to put this into the protocol. I think I clarified my arguments for this move before (if no, ask :) ). Hopefully you'll understand this.
This doesn't mean you won't be able to supply your checksum in the initial request since the metadata extension allows this.

Yeah, I'm cool with using metadata for my purposes. Thanks for the discussion @Acconut .

Great to hear that. I have to thank you for the ongoing feedback, too. :)

See #53.

Merged.